{% extends "base.html" %}
{% block title %}
Instant Recipe {% endblock %}


{% block recipename %} 
    <h2> &#127869 {{RecipeName}}</h2>
    

    {% endblock %}    

    {% block foodimage %}<img src="{{ImageURL }}" width="350"  alt="This is an image of {{RecipeName}}. If you don't see an image loaded, it means I exceeded my limit for Free image searches: Try again tomorrow">{% endblock %} 

    {% block ingredients %} 
    <h3> &#x1f6d2; Ingredients</h3>
        
        {% for Ingredient in Ingredients%}
            <p>{{ Ingredient}} </p>
            {% endfor %}
            {% endblock %}

    {% block methods %} 
       
    <h3>&#128104;&#8205;&#127859;Directions</h3>
    <span class="badge bg-secondary">{{CookingTime}} Minutes</span>
        <p>{{Directions}}</p>        
{% endblock %}


{% block footer%}This was recipe number: {{RecipeID}}{% endblock %}



